{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1>Dito ung title nyo</h1>
  <p>Welcome message, description on what the site is about</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

{% for department in departments %}
<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{department.name}}</h1>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  {% for book in department.books[-6:] %}
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail">
      <div class="col-md-4">
        {% if book.image %}
        <img class="img-responsive" src="{{book.image}}" alt="">
        {% else %}
        <img class="img-responsive" src="{{url_for('static', filename='images/placeholder150x200.png')}}" alt="">
        {% endif %}
      </div>
      <div class="col-md-8 caption no-padding">
        <h3 style="margin:0px;">{{book.title}}</h3>
        <p>{{book.description}}</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- /.row -->
{% endfor %}
{% endblock %}